body{
    --color-background: #FAF9F6;
    margin: 0;

    /* This height refers to the screen/window height.
    For instance, in case of 200vh, we have scrollable window */
    /* height: 100vh;

    Removes the extra portion of the div from each side
    display: flex;
    font-size: 18px; */
    justify-content: center;
    align-items: center;
    background: var(--color-background)
}

section{
    width: 100%;
    /* position: absolute; */
}

section.header{
    border-bottom: 0.5px solid #e4e6ea;
}

.headerbar{
    width: 50%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    height: 100px;
}

.headerbar .headermenus{
    display: flex;
}

.headerbar .menu ul,
.headerbar .social ul{
    list-style: none;
    display: flex;
}

.headerbar .menu ul{
    margin-top: 23px;
}

.headerbar .menu ul a{
    padding: 10px 10px 13px 10px;
    line-height: 27px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 9px;
    margin: auto 1px;
    transition: border 0.7s;
    background-color: transparent;
    transition: background-color 0.7s;
    font-size: 1rem;
}

.headerbar .menu ul a:hover,
.headerbar .menu ul a:active,
.headerbar .menu ul a:visited,
.headerbar .menu ul a:active:hover,
.headerbar .menu ul a.active{
    /* color: #1475a2; */
    /* font-weight: bold; */
    border: 1px solid #E8DCD5;
    background-color: #E8DCD5;
    transition: border 0.5s;
    transition: background-color 0.5s;
    border-radius: 9px;
}

.headerbar .social ul li img{
    width: 35px;
}

.headerbar .social .LinkedInGradient{
    width: 44px;
    margin-top: -5px;
    margin-right: -4px;
}

.headerbar .social ul{
    margin-left: 200%;
    padding-left: 15px;
    margin-top: -50px;
}

.headerbar .social ul li{
    margin-right: 15px;
}

.headerbar .social ul li:last-child{
    margin-right: 0px;
}

.headerbar .social ul a img{
    opacity: 1;
    transition: opacity 0.5s;
}

.headerbar .social ul a:hover img,
.headerbar .social ul a:active img,
.headerbar .social ul a:visited img,
.headerbar .social ul a:active:hover img{
    opacity: 0.5;
    transition: opacity 0.5s;
}
/* ----------------------------------------------------------------------------
Home container
---------------------------------------------------------------------------- */
.home-container{
    margin-left: 450px;
    margin-top: 35px;
    display: flex;
}
.home-container .text-details{
    display: block;
}
.home-container .name{
    font-size: 3rem;
    padding: 0;
    margin-bottom: 0;
    /* font-style:bold; */
}
.home-container .bio{
    margin-top: 0;
    color: #545454;
    font-size: 1.1rem;
    font-weight: normal;
}
.home-container .mission{
    font-size: 1.3rem;
    color: #545454;
    font-style: italic;
    display: flex;
}
.home-container img{
    margin-top: 20px;
    margin-left: 50px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
}

/* ----------------------------------------------------------------------------
Project carousel
---------------------------------------------------------------------------- */

.projects{
    display: inline-block;
    width: 100%;
    /* height:200px; */

    /* This makes sure that image doesn't go beyond the screensize */
    background-size: cover;
}
.project-thumbnail{
    transition: 0.7s;
    background-image: url("images/Projects/Thumbnail\ -\ Spot-the-race-track\ \(Normal\).png");
}

.project-thumbnail:hover,
.project-thumbnail:focus{
    transition: 0.7s;
    background-image: url("images/Projects/Thumbnail\ -\ Spot-the-race-track\ \(Hover\).png");
}

.project-container .project-header{
    margin-top: 50px;
    margin-left: 450px;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.65rem;
}
.carousel{
    position: relative;
    height: 200px;
    width: 35%;
    
    /* Left and right margin are set to auto (sit centrally of the parent div)
    Top and bottom margin are set to 0 */
    margin: 0 auto;
}
.horse{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__stage{
    position: relative;
    background: #1fdfff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 10px;
    margin-bottom: 10px;
    border-radius: 23px;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    /* display: flex; */
    /* Transition upon each transform */
    transition: transform 290ms ease-in;
}

.carousel__horse{
    position: absolute;
    
    /* changes for photo container */
    /* position: relative; */
    display: flex;

    top: 0px;
    bottom: 0px;
    width: 100%;
}

.carousel__button{
    position: absolute;
    /* display: flex; */
    top: 50%;
    /* With "top: 50%", top of the div block starts from the 50% of the parent block
    We want the middle of the child to be at the 50% of the parent block */
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: 0;
    /* background-color: black; */
}

.carousel__button .LeftArrow {
    width: 40px;
    height: 40px;
}

.carousel__button .RightArrow {
    width: 40px;
    height: 40px;   
}

.carousel__button--next{
    right: -60px;
}

.carousel__button--previous{
    left: -60px;
}

.carousel__dots{
    /* background: #1fffff; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__dot{
    border: 0;
    /* This makes them a circle  */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 12px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.carousel__dot.current-horse{
    background-color: rgba(0,0,0,0.8);
}

/* ----------------------------------------------------------------------------
Classic projects with "more items to expand"
---------------------------------------------------------------------------- */
.master-container{
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.extended-container{
    display: none;
    justify-content: center;
    align-items: center; 
}

.project1-class,
.project2-class,
.project3-class,
.project4-class,
.project5-class,
.project6-class{
    padding: 10px;
}

.project1-button,
.project2-button,
.project3-button,
.project4-button,
.project5-button,
.project6-button{
    text-align: left;
    vertical-align: top;
    line-height: 1.3;
    padding: 7px;
    width: 195px;
    height: 205px;
    cursor: pointer;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    background-color: transparent;
    border-width: 3px;
}

.project1-button:hover,
.project2-button:hover,
.project3-button:hover,
.project4-button:hover,
.project5-button:hover,
.project6-button:hover{
    transition: 0.1s;
    transform: scale(1.02);
}

.more-items-class{
    transform: translate(260px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.more-items-button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.75rem;
}