html{
    scroll-behavior: smooth;
}
body{

    /* TODO - Decide your color palette and define them here*/
    --color-background: #FAF9F6;

    /* This height refers to the screen/window height.
    For instance, in case of 200vh, we have scrollable window
    height: 100vh; */
    margin: 0 auto;

    /* Align-items aligns on y-axis
    Justify-content aligns on x-axis */
    align-items: center;
    justify-content: center;
    width: 50%;
    background: var(--color-background)
}

section.header{
    border-bottom: 0.5px solid #e4e6ea;
}

.headerbar{
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
}

.headermenus{
    display: flex;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: right;
    margin-top: 23px;
    align-items: center;
}

.menu li{
    justify-content: left;
    text-align: left;
}

.menu ul a{
    padding: 10px 10px 13px 10px;
    line-height: 1.7;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 9px;
    margin: 0 auto;
    transition: border 0.7s;
    transition: background-color 0.7s;
}

.menu ul a:hover,
.menu ul a:active,
.menu ul a:visited,
.menu ul a:active:hover,
.menu ul a.active{
    border: 1px solid #E8DCD5;
    background-color: #E8DCD5;
    transition: border 0.5s;
    transition: background-color 0.5s;
    border-radius: 9px;
}

/* ----------------------------------------------------------------------------
Home container
---------------------------------------------------------------------------- */
.home-container{
    display: flex;
}
.home-container .text-details{
    display: block;
}
.home-container .name{
    font-size: 3rem;
    margin-bottom: 0;
}
.home-container .bio{
    margin-top: 0;
    /* TODO - declare this color in color pallete and call variable here */
    color: #545454;
    font-size: 1.1rem;
    font-weight: normal;
}
.home-container .mission{
    font-size: 1.3rem;
    /* TODO - declare this color in color pallete and call variable here */
    color: #545454;
    font-style: italic;
    display: flex;
}
.home-container img{
    margin-top: 20px;
    margin-left: 80px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
}

/* ----------------------------------------------------------------------------
Project carousel
---------------------------------------------------------------------------- */

.projects{
    display: inline-block;
    width: 100%;
    /* height:200px; */

    /* This makes sure that image doesn't go beyond the screensize */
    background-size: cover;
}
.project-thumbnail{
    transition: 0.7s;
    background-image: url("images/Projects/Thumbnail\ -\ Spot-the-race-track\ \(Normal\).png");
}

.project-thumbnail:hover,
.project-thumbnail:focus{
    transition: 0.7s;
    background-image: url("images/Projects/Thumbnail\ -\ Spot-the-race-track\ \(Hover\).png");
}

.project-container .project-header{
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.65rem;
}
.carousel{
    position: relative;
    height: 200px;
    width: 100%;

    /* Left and right margin are set to auto (sit centrally of the parent div)
    Top and bottom margin are set to 0 */
    margin: 0 auto;
}

.carousel__stage{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 10px;
    margin-bottom: 10px;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    /* display: flex; */
    /* Transition upon each transform */
    transition: transform 290ms ease-in;
}

.carousel__horse{
    position: absolute;
    
    /* changes for photo container */
    /* position: relative; */
    display: flex;

    top: 0px;
    bottom: 0px;
    width: 100%;
}

.carousel__button{
    position: absolute;
    display: none;
    /* display: flex; */
    top: 50%;
    /* With "top: 50%", top of the div block starts from the 50% of the parent block
    We want the middle of the child to be at the 50% of the parent block */
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: 0;
    /* background-color: black; */
}

.carousel__button .LeftArrow {
    width: 40px;
    height: 40px;
}

.carousel__button .RightArrow {
    width: 40px;
    height: 40px;   
}

.carousel__button--next{
    right: -60px;
}

.carousel__button--previous{
    left: -60px;
}

.carousel__dots{
    /* background: #1fffff; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__dot{
    border: 0;
    /* This makes them a circle  */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.carousel__dot.current-horse{
    background-color: rgba(0,0,0,0.7);
}

/* ----------------------------------------------------------------------------
Classic projects with "more items to expand"
---------------------------------------------------------------------------- */
.master-container{
    justify-content: center;
    /* align-items: center; */
}

.container{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.extended-container{
    display: none;
    justify-content: center;
    /* TODO - aligning left is not working  */
    align-items: left; 
    width: 100%;
}

.project1-class,
.project2-class,
.project3-class,
.project4-class,
.project5-class,
.project6-class{
    padding: 10px;
}

.project1-button,
.project2-button,
.project3-button,
.project4-button,
.project5-button,
.project6-button{
    text-align: left;
    vertical-align: top;
    line-height: 1.3;
    padding: 7px;
    width: 175px;
    height: 190px;
    cursor: pointer;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    background-color: transparent;
    border-width: 3px;
}

.project1-button:hover,
.project2-button:hover,
.project3-button:hover,
.project4-button:hover,
.project5-button:hover,
.project6-button:hover{
    transition: 0.1s;
    transform: scale(1.02);
}

.more-items-class{
    /* transform: translate(260px); */
    justify-content: center;
    display: flex;
}

.more-items-button{
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: right;
    width: 100%;
    font-size: 0.75rem;
}

/* ----------------------------------------------------------------------------
Highlight container
---------------------------------------------------------------------------- */
.highlight{
    width: 100%;
    height: 225px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

.highlight-header h1{
    font-size: 1.6rem;
    margin: 5px 0px 5px 0px;
}

.leetcode-card,
.jogging-card,
.spotify-card{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.jogging-card:hover{
    opacity: 0.7;
}

.card-header{
    display: flex;
    align-items: center;
}

.card-title{
    font-size: 1.2rem;
    /* background-color: bisque; */
    margin: 5px 0px 5px 0px;
}

.card-subtitle{
    margin: 5px 0px 5px 0px;
    font-size: 1.1rem;
    display: flex;
}

.card-subtitle .distance{
    width: 50%;
}

.card-subtitle .date{
    width: 50%;
    text-align: right;
}

.card-component{
    display: flex;
    /* background-color: lightsalmon; */
    font-size: 1.1rem;
    align-items: top;
    margin: 30px 0px 10px 0px;
}

.leetcode-card .problem-statement{
    width: 80%;
    align-items: center;
    height: 35px;
    /* background-color: black; */
    backdrop-filter: blur(0.5px);
}

.leetcode-card .timestamp{
    width: 20%;

    /* If you want to align text to the right of the screen, and when display is flex, you first need to make sure that that div is on the right most of the parent div
    Once the child on the right most edge, text-align: right will work */
    text-align: right;
}

.leetcode-card{
    background-image: url("images/Highlight/Leetcode-heatmap.jpg");
    background-size: cover;
}

.leetcode-card .difficulty-class{
    width: 20px;
    height: 20px;
    background-color: orange;
    margin: 0px 5px 0px 5px;
}

.leetcode-card .problem-statement-link{
    /* font-style: none; */
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-style: italic;
}

.leetcode-card .problem-statement-link:hover{
    transition: 0.8s;
    font-style: normal;
}

.jogging-card .calories,
.jogging-card .duration,
.jogging-card .speed{
    padding: 7px;
    width: 33.33%;
}

.jogging-card{
    background-image: url('images/Highlight/run-map.jpeg');
    background-position: 75% 75%;
    background-size: cover;
}

.run-map-header{
    display: none;
}

/* TODO - show run-map-header over hover */

.jogging-card-map{
    text-decoration: none;
    color: black;
}

.jogging-card .calories{
    text-align: left;
}

.jogging-card .duration{
    text-align: center;
}

.jogging-card .speed{
    text-align: right;
}

.card-icon{
    display: flex;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0px 10px 0px 0px;
}

.card-icon img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

/* ----------------------------------------------------------------------------
Contact container
---------------------------------------------------------------------------- */
.contact-info-section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.credits{
    margin-top: 50px;
    font-size: 0.8rem;
}

.contact-info{
    /* border: 1px solid peachpuff; */
    /* background-color: peachpuff; */
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    height: 320px;
    text-align: left;

    /* Header and Body are block displayed */
    display: block;
}

.contact-info-header h1{
    font-size: 1.6rem;
    margin: 65px 5px 5px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 0.5px solid #e4e6ea;
}

.contact-info-body{

    /* Static and Dynamic contact-info are flexible */
    display: flex;
    padding: 0;
}

.dynamic-contact, .static-contact{

    /* Contents inside these contact blocks are blocked displayed */
    display: block;
}

.dynamic-contact{
    text-align: left;
    font-size: 1.2rem;
    width: 70%;
}

.dynamic-contact-name{
    margin: 1px 5px 10px 0px;
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
}

.dynamic-contact-body{
    display: flex;
    align-items: center;
}

.dynamic-contact-name .name-text-box{
    margin: 10px 12px 0px 0px;
    width: 320px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.dynamic-contact-message{
    width: 100%;
    margin: 15px 0px 0px 0px;
    font-family: 'Roboto' sans-serif;
}

.dynamic-contact-message .dynamic-contact-messageBox{
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.dynamic-contact-buttons{
    margin: 0 0 0 7px;
    display: flex;
}
.dynamic-contact-buttons-send,
.dynamic-contact-buttons-clear{
    margin: 0px 5px 0 0;
}

.static-contact{
    text-align: right;
    width: 30%;
}

.contact-info-body-email-title,
.contact-info-body-phone-title{
    margin: 0px 5px 20px 0px;
    font-size: 1rem;
    font-weight: bold;
    justify-content: right;
    display: flex;
    padding: 0;
}

.contact-info-body-email-data,
.contact-info-body-phone-data{
    margin: -30px 5px 0 0;
    padding: 0;
    font-size: 1rem;
}

.contact-info-body-email-data:hover,
.contact-info-body-phone-data:hover{
    transition: 0.1s;
    transform: scale(1.07);
    cursor: pointer;    
}

.phone-icon-class,
.email-icon-class,
.trash-icon-class,
.send-icon-class{
    display: flex;
    width: 10px;
    height: 10px;
    position: relative;
}

.phone-icon-class img,
.email-icon-class img{
    position: absolute;
    top: 14px;
    right: 5px;
    width: 22px;
    height: 22px;
    overflow: hidden;
}

.trash-icon-class img,
.send-icon-class img{
    position: absolute;
    top: -10px;
    left: -6px;
    right: 0px;
    bottom: 0px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.send,
.clear{
    width: 35px;
    cursor: pointer;
    height: 35px;
    padding: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 12px;
    
}

.send:hover,
.clear:hover{
    transition: 0.3s;
    transform: scale(1.09);
}

#toast{
    visibility: hidden;
    margin-top: 20px;
    /* TODO - Bring from color palette */
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    width: 327px;
}

#toast-show{
    visibility: visible;
}

.social ul{
    list-style: none;
    display: flex;
}
.social ul li img{
    width: 35px;
}

.social .LinkedInGradient{
    width: 44px;
    margin-top: -5px;
    margin-right: -4px;
}

.social ul{
    justify-content: right;
    margin-top: 17%;
}

.social ul a img{
    opacity: 1;
    padding: 3px;
    transition: opacity 0.5s;
}

.social ul a:hover img,
.social ul a:active img,
.social ul a:visited img,
.social ul a:active:hover img{
    opacity: 0.5;
    transition: opacity 0.5s;
}