/* -------------------------------------------------------------------------------------------
For entire body
------------------------------------------------------------------------------------------- */
body{
    --color-background: #FAF9F6;
    /* display: inline-block; */
    
    width: 50%;
    margin: 0 auto;
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
}
body img{
    width: 100%;
    height: 90%;
}

body .poster--caption{
    text-align: center;
    font-size: 0.9rem;
}

html{
    scroll-behavior: smooth;
}

a {
    color: black;
    /* Remove underlines */
    text-decoration: none; 
  }

  .headerbar{
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #e4e6ea;
}

.headermenu{
    display: flex;
}

.github-picture{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.github-picture img{
    margin: 0;
    width: 35px;
    height: 35px;
}

.github-picture:hover{
    opacity: 0.5;
    transition: opacity 0.5s;
}

.headermenus{
    display: flex;
}

.menu{
    width: 95%;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: right;
    margin-top: 23px;
    align-items: center;
}

.menu li{
    justify-content: left;
    text-align: left;
}

.menu ul a{
    padding: 10px 10px 13px 10px;
    line-height: 1.7;
    /* TODO - insert font-color here */
    color:rgba(0, 0, 0, 0.8);
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 9px;
    margin: 0 auto;
    transition: border 0.7s;
    transition: background-color 0.7s;
}

.menu ul a:hover,
.menu ul a:active,
.menu ul a:visited,
.menu ul a:active:hover,
.menu ul a.active{
    border: 1px solid #E8DCD5;
    background-color: #E8DCD5;
    transition: border 0.5s;
    transition: background-color 0.5s;
    border-radius: 9px;
}

/* -------------------------------------------------------------------------------------------
class - header
------------------------------------------------------------------------------------------- */

.title h1{
    font-size: 3rem;
}

.title .sub-title{
    display: flex;
    /* Align items keeps everything in the middle on y-axis
    Justify-content keeps everything in the middle on x-axis */
    align-items: center;
    justify-content: center;
}

.name-and-date,
.duration{
    align-items: center;
    display: flex;
    width: 50%;
}

.name-and-date{
    justify-content: left;
}

.duration{
    justify-content: right;
}

.title .sub-title img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0px 10px 0px 0px;
}

.title .name,
.title .duration{
    font-size: 0.9rem;
}

.title .duration{
    float: right;
    /* margin-left: 56%; */
}

/* INSERT THE BODY OF THE PROJECT HERE */
.abstract,
.table-of-content{
    /* TODO - Define and reuse font-color */
    color: #464E51;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.abstract img,
.table-of-content img{
    margin: 15px 0px 15px 0px;
}

/* -------------------------------------------------------------------------------------------
class - table-of-content
------------------------------------------------------------------------------------------- */

.table-of-content h1{
    color: black;
    font-size: 1.7rem;
}
.table-of-content li{
    line-height: 1.6;
    padding: 6px 6px 6px 6px;
    transition: transform .2s;
    border-bottom: 0.5px solid rgba(70, 78, 81, 0.15);
}

.table-of-content li:hover{
    transform: scale(1.008);
}

/* ----------------------------------------------------------------------------
Contact container
---------------------------------------------------------------------------- */
.contact-info-section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.credits{
    margin-top: 50px;
    font-size: 0.8rem;
}

.contact-info{
    /* border: 1px solid peachpuff; */
    /* background-color: peachpuff; */
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    /* height: 320px; */
    text-align: left;

    /* Header and Body are block displayed */
    display: block;
}

.contact-info-header h1{
    font-size: 1.6rem;
    margin: 85px 5px 5px 0px;
    padding: 0px 0px 25px 0px;
    border-bottom: 0.5px solid #e4e6ea;
}

.contact-info-body{

    /* Static and Dynamic contact-info are flexible */
    display: flex;
    padding: 0;
}

.dynamic-contact, .static-contact{

    /* Contents inside these contact blocks are blocked displayed */
    display: block;
}

.dynamic-contact{
    text-align: left;
    font-size: 1.2rem;
    width: 60%;
}

.dynamic-contact-name{
    margin: 1px 5px 10px 0px;
    display: flex;
    width: 60%;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
}

.dynamic-contact-body{
    display: flex;
    align-items: center;
}

.dynamic-contact-name .name-text-box{
    margin: 10px 12px 0px 0px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.dynamic-contact-message{
    width: 100%;
    margin: 15px 0px 0px 0px;
}

.dynamic-contact-message .dynamic-contact-messageBox{
    width: 93.5%;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.dynamic-contact-buttons{
    justify-content: right;
    /* margin: 0 0 0 7px; */
    width: 40%;
    display: flex;
}

.dynamic-contact-buttons-send,
.dynamic-contact-buttons-clear{
    margin: 0 0 0 10px;
}

.static-contact{
    text-align: right;
    width: 40%;
}

.contact-info-body-email,
.contact-info-body-phone,
.social{
    height: 33.33%;
}

.contact-info-body-email-title,
.contact-info-body-phone-title{
    margin: 0px 0px 20px 0px;
    font-size: 1rem;
    font-weight: bold;
    /* justify-content: right; */
    display: flex;
    padding: 0;
}

.contact-info-body-email-data,
.contact-info-body-phone-data{
    margin: -20px 0px 0 0;
    padding: 0;
    font-size: 1rem;
}

.contact-info-body-email-data:hover,
.contact-info-body-phone-data:hover{
    transition: 0.1s;
    transform: scale(1.07);
    cursor: pointer;    
}

.phone-icon-class,
.email-icon-class,
.trash-icon-class,
.send-icon-class{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.phone-icon-class img,
.email-icon-class img{
    position: absolute;
    top: 14px;
    right: 5px;
    width: 22px;
    height: 22px;
    overflow: hidden;
}

.trash-icon-class img,
.send-icon-class img{
    position: absolute;
    right: 8px;
    bottom: 0px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.send,
.clear{
    width: 55px;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 18px;
}

.send:hover,
.clear:hover{
    transition: 0.3s;
    transform: scale(1.09);
}

#toast{
    visibility: hidden;
    margin-top: 20px;
    /* TODO - Bring from color palette */
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    width: 327px;
}

#toast-show{
    visibility: visible;
}

.social ul{
    list-style: none;
    display: flex;
}

.social ul li img{
    width: 35px;
}

.social .LinkedInGradient{
    width: 44px;
    margin-top: -5px;
    margin-right: -4px;
}

.social ul{
    justify-content: right;
}

.social ul a img{
    opacity: 1;
    padding: 3px;
    transition: opacity 0.5s;
}

.social ul a:hover img,
.social ul a:active img,
.social ul a:visited img,
.social ul a:active:hover img{
    opacity: 0.5;
    transition: opacity 0.5s;
}