/* -------------------------------------------------------------------------------------------
For entire body
------------------------------------------------------------------------------------------- */
body{
    --color-background: #FAF9F6;
    /* display: inline-block; */
    
    width: 50%;
    margin: 0px auto;
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.headerbar{
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #e4e6ea;
}

.headermenus{
    display: flex;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: right;
    margin-top: 23px;
    align-items: center;
}

.menu li{
    
    justify-content: left;
    text-align: left;
}

.menu ul a{
    padding: 10px 10px 13px 10px;
    line-height: 1.7;
    /* TODO - insert font-color here */
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 9px;
    margin: 0 auto;
    transition: border 0.7s;
    transition: background-color 0.7s;
}

.menu ul a:hover,
.menu ul a:active,
.menu ul a:visited,
.menu ul a:active:hover,
.menu ul a.active{
    border: 1px solid #E8DCD5;
    background-color: #E8DCD5;
    transition: border 0.5s;
    transition: background-color 0.5s;
    border-radius: 9px;
}

/* -------------------------------------------------------------------------------------------
Carousel
------------------------------------------------------------------------------------------- */
/* TODO - Left component can be parent */

.carousel{
    position: relative;
    transition: 0.7s;
    height: 650px;
    width: 100%;
    margin: 0 auto;
}

.carousel__stage{
    position: relative;
    background: -var(--color-background);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel__track{
    padding: 0px;
    margin: 20px 0px 20px 0px;
    list-style: none;
    position: relative;
    height: 100%;
    /* Transition upon each transform */
    transition: transform 290ms ease-in;
}

.carousel__horse{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.carousel__button{
    position: absolute;
    /* display: flex; */
    /* TODO - Put a relative top */
    top: 22px;
    /* With "top: 50%", top of the div block starts from the 50% of the parent block
    We want the middle of the child to be at the 50% of the parent block */
    /* transform: translateY(-50%); */

    cursor: pointer;
    background: transparent;
    border: 0;
}

.carousel__button .LeftArrow {
    width: 40px;
    height: 40px;
    opacity: 0.1;
}

.carousel__button .RightArrow {
    width: 40px;
    height: 40px;
    opacity: 0.1;   
}

.carousel__button--next{
    top: 50%;
    right: -60px;
}

.carousel__button--previous{
    top: 50%;
    left: -60px;
}

.carousel__dots{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
}

.carousel__dot{
    border: none;
    /* This makes them a circle  */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.carousel__dot.current-horse{
    background-color: rgba(0,0,0,0.7);
}

/* -------------------------------------------------------------------------------------------
About Photo Container
------------------------------------------------------------------------------------------- */

.about{
    display: block;
    width: 100%;
}

.about-container{
    /* margin-bottom: 130px; */
}

.about-title{
    transition: ease-in-out;
    border: none;
    width: 100%;
    display: block;
    background-color: var(--color-background);
    color: black;
    font-style: italic;
    margin: 0px 0px 40px 0px;
}

.about-header{
    font-size: 1.6rem;
    margin: 5px auto;
}

.about-expanded{
    transition: 1s ease-out;
}

.water-button,
.food-button,
.brain-button,
.sweat-button{
    transition: 0.5s;
    width: 100%;
    height: 500px;
    cursor: pointer;
    border: none;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.water-button:hover,
.food-button:hover,
.sweat-button:hover,
.brain-button:hover{
    transform: scale(1.02);
}

.water-button{
    background-image: url("../images/About/Water-1.jpeg");
}

.water-caption,
.food-caption,
.sweat-caption,
.brain-caption{
    /* transition: 0.09s; */
    visibility: hidden;
    width: 88%;
    height: 88%;
    border: 2px solid grey;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 13px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

.food-button{
    background-image: url("../images/About/Food-1.jpeg");
}

.sweat-button{
    background-image: url("../images/About/Sweat-1.jpeg");
}

.brain-button{
    background-image: url("../images/About/Brain-1.jpeg");
}
/*  
.caption{
    z-index: 222;
    font-size: 1.3rem;
    border: 1px solid rgba(138, 102, 66, 0.65);
    background-color: rgba(138, 102, 66, 0.65);
    backdrop-filter: blur(2px);
    max-width: 92%;
    text-align: center;
    max-height: 300px;
    margin: 0 auto;
    padding: 10px;
    color: var(--color-background);
    line-height: 1.3;
    position: absolute;
    top: 65%;
    left: 5%;
    transform: translate(4%, -20%);
    
    border-radius: 10px;
} */

.is-hidden{
    display: none;
}

/* ----------------------------------------------------------------------------
Contact container
---------------------------------------------------------------------------- */
.contact-info-section{
    /* z-index: 333; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.credits{
    margin-top: 50px;
    font-size: 0.8rem;
}

.contact-info{
    /* border: 1px solid peachpuff; */
    /* background-color: peachpuff; */
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    /* height: 320px; */
    text-align: left;

    /* Header and Body are block displayed */
    display: block;
}

.contact-info-header h1{
    font-size: 1.6rem;
    margin: 85px 5px 5px 0px;
    padding: 0px 0px 25px 0px;
    border-bottom: 0.5px solid #e4e6ea;
}

.contact-info-body{

    /* Static and Dynamic contact-info are flexible */
    display: flex;
    padding: 0;
}

.dynamic-contact, .static-contact{

    /* Contents inside these contact blocks are blocked displayed */
    display: block;
}

.dynamic-contact{
    text-align: left;
    font-size: 1.2rem;
    width: 60%;
}

.dynamic-contact-name{
    margin: 1px 5px 10px 0px;
    display: flex;
    width: 60%;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
}

.dynamic-contact-body{
    display: flex;
    align-items: center;
}

.dynamic-contact-name .name-text-box{
    margin: 10px 12px 0px 0px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

.dynamic-contact-message{
    width: 100%;
    margin: 15px 0px 0px 0px;
}

.dynamic-contact-message .dynamic-contact-messageBox{
    width: 93.5%;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.dynamic-contact-buttons{
    justify-content: right;
    /* margin: 0 0 0 7px; */
    width: 40%;
    display: flex;
}

.dynamic-contact-buttons-send,
.dynamic-contact-buttons-clear{
    margin: 0 0 0 10px;
}

.static-contact{
    text-align: right;
    width: 40%;
}

.contact-info-body-email,
.contact-info-body-phone,
.social{
    height: 33.33%;
}

.contact-info-body-email-title,
.contact-info-body-phone-title{
    margin: 0px 0px 20px 0px;
    font-size: 1rem;
    font-weight: bold;
    /* justify-content: right; */
    display: flex;
    padding: 0;
}

.contact-info-body-email-data,
.contact-info-body-phone-data{
    margin: -20px 0px 0 0;
    padding: 0;
    font-size: 1rem;
}

.contact-info-body-email-data:hover,
.contact-info-body-phone-data:hover{
    transition: 0.1s;
    transform: scale(1.07);
    cursor: pointer;    
}

.phone-icon-class,
.email-icon-class,
.trash-icon-class,
.send-icon-class{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.phone-icon-class img,
.email-icon-class img{
    position: absolute;
    top: 14px;
    right: 5px;
    width: 22px;
    height: 22px;
    overflow: hidden;
}

.trash-icon-class img,
.send-icon-class img{
    position: absolute;
    right: 8px;
    bottom: 0px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.send,
.clear{
    width: 55px;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 18px;
}

.send:hover,
.clear:hover{
    transition: 0.3s;
    transform: scale(1.09);
}

#toast{
    visibility: hidden;
    margin-top: 20px;
    /* TODO - Bring from color palette */
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    width: 327px;
}

#toast-show{
    visibility: visible;
}

.social ul{
    list-style: none;
    display: flex;
}

.social ul li img{
    width: 35px;
}

.social .LinkedInGradient{
    width: 44px;
    margin-top: -5px;
    margin-right: -4px;
}

.social ul{
    justify-content: right;
}

.social ul a img{
    opacity: 1;
    padding: 3px;
    transition: opacity 0.5s;
}

.social ul a:hover img,
.social ul a:active img,
.social ul a:visited img,
.social ul a:active:hover img{
    opacity: 0.5;
    transition: opacity 0.5s;
}