/* -------------------------------------------------------------------------------------------
For entire body
------------------------------------------------------------------------------------------- */
body{
    --color-background: #FAF9F6;
    /* display: inline-block; */
    
    width: 45%;
    margin: 0 auto;
    font-size: 18px;
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
}
body img{
    margin-top: 20px;
    width: 100%;
    height: 90%;
}

html{
    scroll-behavior: smooth;
}

/* -------------------------------------------------------------------------------------------
For menubar
------------------------------------------------------------------------------------------- */

/* TODO - Update this */


/* -------------------------------------------------------------------------------------------
Carousel
------------------------------------------------------------------------------------------- */
/* TODO - Left component can be parent */
.carousel__stage .about-button-expanded img{
    transition: ease-in-out;
    margin: auto 0;
    margin-top: -360px;
    object-fit: contain;
    border-radius: 5px;
    /* opacity: 0.7; */
}

/* .about-button:hover,
.about-button:focus{
    width: 100%;
    height: 150px;
    transition: 0.7s;
    background-image: url(../images/ProjectB.png);    
} */

.carousel{
    position: relative;
    transition: 0.7s;
    /* TODO - Put a relative height */
    height: 500px;
    width: 100%;
    
    /* Left and right margin are set to auto (sit centrally of the parent div)
    Top and bottom margin are set to 0 */
    margin: 0 auto;
}
.horse{
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.carousel__stage{
    position: relative;
    background: -var(--color-background);
    height: 140%;
    width: 100%;
    overflow: hidden;
    top: 10px;
    margin-bottom: 10px;
    border: none;
    /* border-radius: 5px; */
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    /* position: absolute; */
    position: relative;
    height: 100%;
    border: none;
    /* Transition upon each transform */
    transition: transform 290ms ease-in;
}

.carousel__horse{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.carousel__button{
    position: absolute;
    /* display: flex; */
    /* TODO - Put a relative top */
    top: 40px;
    /* With "top: 50%", top of the div block starts from the 50% of the parent block
    We want the middle of the child to be at the 50% of the parent block */
    /* transform: translateY(-50%); */

    cursor: pointer;
    background: transparent;
    border: 0;
    /* background-color: black; */
}

.carousel__button .LeftArrow {
    width: 40px;
    height: 40px;
    opacity: 0.4;
}

.carousel__button .RightArrow {
    width: 40px;
    height: 40px;
    opacity: 0.4;   
}

.carousel__button--next{
    right: -60px;
}

.carousel__button--previous{
    left: -60px;
}

.carousel__dots{
    /* background: #1fffff; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__dot{
    border: 0;
    /* This makes them a circle  */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 12px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.carousel__dot.current-horse{
    background-color: rgba(0,0,0,0.8);
}

/* -------------------------------------------------------------------------------------------
About Photo Container
------------------------------------------------------------------------------------------- */

.about{
    /* display: block; */
    width: 100%;
    /* This makes sure that image doesn't go beyond the screensize */
}

.about-button{
    transition: ease-in-out;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 100%;
    /* display: block; */
    /* position: relative; */
}

.about-button-class{
    transition: ease-in-out;
    cursor: pointer;
    border: none;
    width: 100%;
    display: block;
    position: relative;
    background-color: #afffff;
}

.about .about-button h1{
    transition: ease-in-out;
    font-size: 3rem;
    color: white;
}

.about-container .about-header{
    font-size: 1.65rem;
}

.about-button-expanded{
    display: none;
    transition: 1s ease-out;
}

.about-image-class{
    justify-content: center;
    align-items: center;
    width:  1024px;
    height: 768px;
    position: relative;
    overflow: hidden;
}

.about-image-class img{
    z-index: 111;
    top: 30%;
    transition: 0.8s;
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.caption{
    z-index: 222;
    border: 1px solid rgba(207, 185, 151, 0.3);
    background-color: rgba(207, 185, 151, 0.3);
    backdrop-filter: blue(40px);
    max-width: 80%;
    text-align: center;
    max-height: 200px;
    margin: 0 auto;
    padding: 20px;
    color:black;
    line-height: 1.3;
    position: absolute;

    transform: translate(15%, 300px);

}