body{
    width: 50%;
    margin: 0 auto;
    --radius-border : 13px;
}
 
.card{
    height: 200px;
    display: flex;
    padding: 5px;
    border-radius: var(--radius-border);
    background-color: orange;
    margin: 5px;
}

.card-words{
    width: 30%;
    padding: 10px;
    margin: 5px;
    border-radius: var(--radius-border);
    background-color: yellow;
}

.card-picture{
    width: 70%;
    margin: 5px;
    border-radius: var(--radius-border);
    padding: 5px;
    background-color: lightblue;
    /* width: 800px;
    height: 200px; */
    position: relative;
}

.card-picture img{
    border-radius: var(--radius-border);
    position: absolute;
    top: 0;
    left: 0;

    /* NOTE- If we don't specify 100%, then it assumes 
    more than 100% and appears with original size */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* NOTE - Padding is how far content from the border of div
and margin is how far sibling elements would be */
.card-header{
    font-size: 1.1rem;
    display: flex;
}

.card-title{
    width: 80%;
    margin: 5px;
    background-color: lightcoral;
}

.card-date{
    width: 20%;
    text-align: center;
    margin: 5px;
    background-color: lightpink;
}

.card-content{
    /* align-items: center; */
    font-size: 1.05rem;
    margin: 5px;
    display: flex;
    background-color: lightgreen;
}

/* LEETCODE */
.difficulty{
    /* Orange implies medium difficulty */
    width: 30px;
    height: 15px;
    margin: 2px;
    background-color: orange;

}
.problem-statement{

}

/* RUN */
.miles,
.calories,
.duration,
.average{
    text-align: center;
    padding: 10px;
}

/* SPOTIFY */
