body{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.master-container{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}

.extended-container{
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.project1-class,
.project2-class,
.project3-class,
.project4-class,
.project5-class,
.project6-class{
    padding: 20px;
}

.project1-button,
.project2-button,
.project3-button,
.project4-button,
.project5-button,
.project6-button{
    width: 170px;
    height: 100%;
    cursor: pointer;
    border: 2px solid rgb(0, 255, 0, 0.5);
    background-color: offwhite;
    border-radius: 13px;
}

.project1-button:hover,
.project2-button:hover,
.project3-button:hover,
.project4-button:hover,
.project5-button:hover,
.project6-button:hover{
    transform: scale(1.01);
}

.more-items-class{
    transform: translate(235px);
    justify-content: center;
    align-items: center;
    display: flex;
}

.more-items-button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.6rem;
}