/*-----------------------------------------------------------------------------
Hover over to change background-image
-----------------------------------------------------------------------------*/

.project{
    display: inline-block;
    width: 500px;
    height:200px;

    /* This makes sure that image doesn't go beyond the screensize */
    background-size: cover;
}
.project-thumbnail{
    background-image: url(images/Projects/Thumbnail\ -\ Spot-the-race-track\ \(Normal\).png);    
}
.project-thumbnail:hover,
.project-thumbnail:focus{
    background-image: url(images/Projects/Thumbnail\ -\ Spot-the-race-track\ \(Hover\).png);
}